<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="section-2-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-1 gallery-side"></div>
            <div class="col-sm-10 gallery-main">
              <div class="gallery-container">
                <div class="gallery-space">
                  <div class="galley-block">
                    <!--<div class="categories">-->
                      <!--<div class="category-item active">-->
                        <!--<span>همه</span>-->
                      <!--</div>-->
                      <!--<div class="category-item">-->
                        <!--<span>عقد‌و‌عروسی</span>-->
                      <!--</div>-->
                      <!--<div class="category-item">-->
                        <!--<span>کودک</span>-->
                      <!--</div>-->
                      <!--<div class="category-item">-->
                        <!--<span>بزرگسال</span>-->
                      <!--</div>-->
                      <!--<div class="category-item">-->
                        <!--<span>لوازم‌جانبی</span>-->
                      <!--</div>-->
                      <!--<div class="category-item">-->
                        <!--<span>ویژه</span>-->
                      <!--</div>-->
                      <!--<div class="category-item">-->
                        <!--<span>سفر</span>-->
                      <!--</div>-->
                    <!--</div>-->

                    <div class="gallery">
                      <div class="gallery-list">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-sm-4" *ngFor="let i of [1,2,3]">
                              <div class="image-container">
                                <a href="">
                                  <img src="../../assets/images/{{i}}.jpg" alt="">
                                  <div class="image-title">
                                    {{titles[i - 1]}}
                                  </div>
                                </a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <hr style="margin: 0;">

                    <div class="gallery">
                      <div class="gallery-list">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-sm-4" *ngFor="let i of [1,2,3,4,5,6]">
                              <div class="image-container">
                                <a href="">
                                  <img src="../../assets/gallery/{{i}}.jpg" alt="">
                                  <div class="image-title">
                                    {{titles[i + 2]}}
                                  </div>
                                </a>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1 gallery-side"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
