<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="whats-new-section">
        <div class="whats-news-header-container">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <div class="whats-news-header">
                  <div class="container-fluid">
                    <div class="row" style="justify-content: center;">
                      <div class="col-xs-3">
                        <div class="divider-container">
                          <div class="divider">
                            <hr>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-9">
                        <div class="header-container">
                          <div class="header">
                            <p>تازه‌ها</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4"></div>
            </div>
          </div>
        </div>
        <div class="whats-new-container">
          <div class="container">
            <div class="row">
              <div class="swiper-container" dir="rtl">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="../../assets/images/slide-01.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="../../assets/images/slide-02.jpg" alt="">
                  </div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

