<div class="header-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="header">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-5">
                <div class="menu">
                  <ul>
                    <li>
                      <a href="">صفحه اصلی</a>
                    </li>
                    <li>
                      <a href="">محصولات</a>
                    </li>
                    <li>
                      <a href="">تازه ترین ها</a>
                    </li>
                    <li>
                      <a href="">رویدادها</a>
                    </li>
                    <li>
                      <a href="">درباره ما</a>
                    </li>
                    <li>
                      <a href="">تماس با ما</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="logo-container">
                  <div class="logo">

                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="social-medias">
                  <ul>
                    <li>
                      <a href=""><i nz-icon nzType="phone" nzTheme="outline"></i></a>
                    </li>
                    <li>
                      <a href=""><i nz-icon nzType="ng-zorro:telegram"></i></a>
                    </li>
                    <li>
                      <a href=""><i nz-icon nzType="instagram" nzTheme="outline"></i></a>
                    </li>
                    <li>
                      <a href=""><i nz-icon nzType="whats-app" nzTheme="outline"></i></a>
                    </li>
                    <li>
                      <a href=""></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
