.header-container {
  position: fixed;
  width: 100%;
  z-index: 2;
  background: rgba(0,0,0,0.18);
}

.header {
  /*margin-right: 30px;*/
  /*margin-left: 30px;*/
}

.menu {
  text-align: center;
}

.menu, .social-medias {
  padding-bottom: 30px;
  padding-top: 30px;
}

.menu ul {
  direction: ltr;
}

.menu ul, .social-medias ul {
  display: inline-block;
  list-style: none;
  margin: 0;
}

.menu ul li, .social-medias ul li {
  display: inline-block;
  position: relative;
}

.menu ul li:not(:last-child) {
  margin-right: 25px;
}

.social-medias ul li:not(:last-child) {
  margin-left: 12px;
}

.menu ul li a {
  font-size: 16px;
  line-height: 18px;
  position: relative;
  display: block;
  text-align: left;
  transition: .3s;
  z-index: 1;
  padding: 3px 0;
  font-family: auto, serif;
  color: #fff;
  text-decoration: none;
  border-color: transparent;
}


.menu ul li:hover a {
  text-shadow: 1px 1px #000000;
}

.menu ul li i {
  position: relative;
  top: -6px;
}

.social-medias {
  text-align: left;
}

.social-medias ul li a {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  transition: all .4s ease;
  overflow: hidden;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  padding: 2px;
  background-color: transparent;
  border: 0 none transparent;
}

.social-medias ul li a.have-bg {
  color: #74B0FF;
  background-color: #fff;
}

.search-space {
  padding-bottom: 28px;
  padding-top: 27px;
}

.search-space .search-icon {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  position: relative;
  top: -3px;
  margin-left: 8px;
}

.search-space input {
  color: #fff;
  background: #AEC9EE;
  text-align: left;
  display: inline-block;
  width: 220px;
  font-size: 13px;
  border: none;
}

::placeholder {
  color: #fff !important;
}

:-ms-input-placeholder {
  color: #fff !important;
}

::-ms-input-placeholder {
  color: #fff !important;
}
