<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" style="padding: 0">
        <div class="footer-logo-container">
          <div class="footer-logo-block">
            <p>
              <a href="">خانم ‌و ‌آقای طراح</a>
            </p>
          </div>
        </div>
        <div class="footer-social-medias-container">
          <ul class="footer-social-medias">
            <li>
              <a href="">
                <span>+98 912 660 4911</span>
                <i nz-icon nzType="phone" nzTheme="outline"></i>
              </a>
            </li>
            <li>
              <a href="">
                <span>Mr_&_Mrs_Designer</span>
                <i nz-icon nzType="ng-zorro:telegram"></i>
              </a>
            </li>
            <li>
              <a href="">
                <span>@_albumax_</span>
                <i nz-icon nzType="instagram" nzTheme="outline"></i>
              </a>
            </li>
            <li>
              <a href="">
                <span>+98 912 660 4911</span>
                <i nz-icon nzType="ng-zorro:whats-app"></i>
              </a>
            </li>
            <li>
              <a href="">
                <span>@_albumax_</span>
                <i nz-icon nzType="ng-zorro:pinterest"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-copyright-container">
          <div class="footer-copyright">
            <p>
              تمامی حق نشر برای
              <a class="footer-logo-name">خانم‌ و ‌آقای طراح</a>
              محفوظ است
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
