@keyframes slideInFromBottom {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1.0;
  }
}

@keyframes increaseWidth {
  0% {
    width: 0
  }
  100% {
    width: 120px
  }
}

.section-1-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  height: 100%;
  transition-property: background-color, border-color;
  background-size: cover;
  background: transparent url('../../assets/picture/Divine-Smile-fade2.jpg') repeat-x top center;
}

.image-header-space {
  padding-bottom: 75px;
  padding-top: 40px;
}

.image-header-block {
  height: 135px;
}

.image-middle-block {
  height: 320px;
}

.divider-container {
  padding-right: 40px;
}

.divider-line {
  padding-right: 0;
}

.divider-line hr {
  width: 0;
  transition: width 1.4s ease-in;
}

.divider-line.active hr {
  width: 130px;
}

.image-title-space {
  padding-bottom: 15px;
  padding-right: 40px;
}

.image-title {
  position: relative;
  top: 35px;
  opacity: 0;
  transition: opacity .7s ease-in, top .8s ease-in;
}

.image-title.active {
  opacity: 1.0;
  top: 0;
}

.image-title p {
  font-size: 70px;
  line-height: 1.2;
  text-align: right;
  color: #000;
}

.image-title:after {
  content: "";
  display: table;
  clear: both;
}

.image-footer-space {
  padding: 15px 40px 40px;
}

.image-footer-block {
  height: 25px;
}
