<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="padding: 0;">
      <div class="section-1-container">
        <div class="image-header-space">
          <div class="image-header-block"></div>
        </div>
        <div class="image-middle-space">
          <div class="image-middle-block">
          </div>
        </div>
        <div class="image-divider-line">
          <hr class="divider-line">
        </div>
        <div class="image-title-space">
          <div class="image-title">
            <p>عکس‌ها زنده‌اند</p>
          </div>
        </div>
        <div class="image-footer-space">
          <div class="image-footer-block">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
