@keyframes slideInFromBottom {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1.0;
  }
}

@keyframes increaseWidth {
  0% {
    width: 0
  }
  100% {
    width: 120px
  }
}

.section-1-container {
}

.image-header-space {
  padding-bottom: 140px;
  padding-top: 40px;
}

.image-header-block {
  height: 135px;
}

.image-middle-block {
  height: 220px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image-middle-block p {
  margin: 0;
  font-size: 50px;
  color: #fff;
  font-family: 'yekanBold', serif;
}

.divider-container {
  padding-right: 40px;
}

.divider-line {
  padding-right: 0;
}

.divider-line hr {
  width: 0;
  transition: width 1.4s ease-in;
}

.divider-line.active hr {
  width: 130px;
}

.image-title-space {
  padding-bottom: 50px;
  padding-right: 40px;
}

.image-title {
  position: relative;
  top: 65px;
  opacity: 0;
  transition: opacity 1s ease-in, top 1s ease-in;
}

.image-title.active {
  opacity: 1.0;
  top: 0;
}

.image-title p {
  line-height: 1.2;
  text-align: center;
  color: #4B6888;
}

.image-title .first-text {
  font-size: 70px;
  margin-bottom: 25px;
}

.image-title .second-text {
  font-size: 20px;
}

.image-title:after {
  content: "";
  display: table;
  clear: both;
}

.before-footer {
  height: 80px;
}

.image-footer-space {
  padding: 40px 40px 10px;
}

.image-footer-block {
  height: 25px;
}

.image-footer-block p {
  margin: 0;
  color: #4B6888;
  font-size: 16px;
}
