<!--<div class="container-fluid">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-12" style="padding: 0;">-->
      <div class="section-1-container">
        <div class="image-header-space">
          <div class="image-header-block"></div>
        </div>
        <div class="image-middle-space">
          <div class="image-middle-block">
            <p>خانم و آقای طراح</p>
          </div>
        </div>
        <div class="image-title-space">
          <div class="image-title" [ngClass]="{'active': load_elements.title.load}">
            <p class="first-text">مراقب خاطراتت باش، نکنه محو بشن</p>
            <p class="second-text">عکس‌ها زنده‌اند</p>
          </div>
        </div>
        <div class="before-footer"></div>
        <div class="image-footer-space">
          <div class="image-footer-block">
            <p>Change website to English</p>
          </div>
        </div>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
