.section-2-container {
  padding-bottom: 75px;
}

.gallery-side {
  padding-left: 15px;
  padding-right: 15px;
}

.gallery-main {
  padding-left: 15px;
  padding-right: 15px;
}

.gallery-container {
  padding-top: 40px;
}

.categories {
  display: flex;
  width: auto;
  margin-bottom: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.category-item {
  font-size: 16px;
  border-radius: 0;
  border: 0 solid transparent;
  border-bottom-width: 1px;
  background-color: transparent;
  padding: 2px 0;
  display: flex;
  cursor: pointer;
  user-select: none;
  z-index: 1;
  transition: color .3s, background-color .3s, border-color .3s;
}

.category-item:not(:last-child) {
  margin-left: 35px;
}

.category-item:hover, .category-item.active {
  border-color: #0e0e0e;
  background-color: transparent;
}

.category-item span {
  color: #1f1f1f;
  text-decoration: none;
  align-items: center;
  font: inherit;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.category-item:hover span {
  color: #1f1f1f;
}

.gallery {
  position: relative;
}

.gallery .row {
  margin-left: 0;
  margin-right: 0;
}

.gallery .col-sm-4 {
  padding-left: 0;
  padding-right: 0;
  background-position: left top;
}

.gallery-list {
  border-radius: 0;
  border: 0 none transparent;
  padding: 20px;
  position: relative;
}

.image-container {
  padding: 15px;
}

.image-container a {
  position: relative;
  overflow: hidden;
  transition: .3s;
  display: inline-block;
  text-decoration: none;
}

.image-container a img {
  width: 100%;
  max-width: 100%;
  transition: .3s;
}
