<div class="section-3-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7"></div>
      <div class="col-sm-5 left-space">
        <div class="about-container">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <div class="about-block">
                  <div class="about-body">
                    <div class="body">
                      <p>
                        عکس‌ها با من حرف می‌زنند
                        <br>

                        هر عکسی یک "یادت هست؟" دارد و یک "یادش بخیر"
                        <br>

                        و من گاهی به سراغشان میروم؛ به سراغ عکس‌ها.


                        آن‌ها شفاف، خوش صحبت و جاری‌اند؛ در عین سکوت و سکونشان...
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
