<div class="container-fluid" style="z-index: 3">
  <div class="row">
    <div class="col-sm-12">
      <div class="events-header-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="events-header">
                <div class="container-fluid">
                  <div class="row" style="justify-content: center;">
                    <div class="col-sm-12">
                      <div class="header">
                        <p>رویدادها</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
      </div>
      <div class="events-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div class="event-container" style="background: #0a0a14;">
                <img src="../../assets/images/event-011.jpg" alt="">
                <div class="event-title">سال 1398</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="event-container" style="background: #008ed0;">
                <img src="../../assets/images/event-021.jpg" alt="">
                <div class="event-title">سال 1399</div>
              </div>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
