<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="header">
        <p>تازه‌ها</p>
      </div>
    </div>
  </div>
</div>
<div class="slides-container">
  <div class="swiper-container whats-up-slides">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../../assets/images/slide-02.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../../assets/images/slide-01.jpg" alt="">
      </div>
    </div>
    <div class="swiper-pagination whats-up-pagination"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <div class="swiper-footer">
    <div class="col-5"></div>
    <div class="col-7"></div>
  </div>
</div>

