.header p {
  font-size: 50px;
  margin: 0;
  font-family: 'yekanBold', serif;
  color: #fff;
}

.events-header {
  padding-bottom: 40px;
  padding-top: 40px;
}

.events-header .col-xs-3, .events-header .col-xs-9 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.events-container .col-sm-4 {
  padding-bottom: 40px;
}

.event-container {
  width: 300px;
  text-align: center;
  margin: auto;
}

.event-container img {
  height: 350px;
}

.event-title {
  padding: 20px 0;
  background: #395472;
  font-size: 24px;
  color: #fff;
}

.contact-list {
  list-style: none;
  display: inline-block;
  text-align: left;
  left: 38px;
  position: relative;
}

.contact-list li {
  margin-bottom: 20px;
  color: #fff;
  font-size: 25px;
  direction: ltr;
}

.contact-list li span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all .4s ease;
  overflow: hidden;
  font-size: 24px;
  border-radius: 4px;
  color: #fff;
  margin-right: 30px;
  padding: 2px;
  background-color: transparent;
  border: 0 none transparent;
}

.contact-list li span.have-bg {
  color: rgba(0,0,0,0.7);
  background-color: #fff;
}
