.events-header {
  padding-bottom: 40px;
  padding-top: 40px;
}

.events-header .col-xs-3, .events-header .col-xs-9 {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.events-container .col-sm-4 {
  padding-bottom: 40px;
}

.event-container {
  width: 300px;
  text-align: center;
  margin: auto;
}

.event-container img {
  height: 350px;
}

.event-title {
  padding: 20px 0;
  background: #e8e8e8;
  font-size: 24px;
  color: #1f1f1f;
}
