<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="events-header-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="events-header">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="divider-container">
                        <div class="divider">
                          <hr>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <div class="header-container">
                        <div class="header">
                          <p>رویدادها</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
      </div>
      <div class="events-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div class="event-container">
                <img src="../../assets/images/event-01.jpg" alt="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="event-container">
                <img src="../../assets/images/event-01.jpg" alt="">
              </div>
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
