<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="events-header-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="events-header">
                <div class="container-fluid">
                  <div class="row" style="justify-content: center;">
                    <div class="col-sm-12">
                      <div class="header">
                        <p>ارتباط با ما</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container" style="margin-top: 20px">
          <div class="row">
            <div class="col-sm-12">
              <div class="contact-us">
                <ul class="contact-list">
                  <li>
                    <span class="have-bg"><i nz-icon nzType="ng-zorro:pinterest"></i></span>
                    @_albumax_
                  </li>
                  <li>
                    <span class="have-bg"><i nz-icon nzType="ng-zorro:whats-app"></i></span>
                    +98 912 660 4911
                  </li>
                  <li>
                    <span class="have-bg"><i nz-icon nzType="instagram" nzTheme="outline"></i></span>
                    @_albumax_
                  </li>
                  <li>
                    <span><i nz-icon nzType="ng-zorro:telegram"></i></span>
                    Mr_&_Mrs_Designer
                  </li>
                  <li>
                    <span><i nz-icon nzType="ng-zorro:phone"></i></span>
                    +98 912 660 4911
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="events-container">
        <div class="container">
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
