<div class="container-fluid" style="background: #e8e8e8;">
  <div class="row">
    <div class="col-sm-12">
      <!--<div class="tools-header-container">-->
        <!--<div class="container-fluid">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-4"></div>-->
            <!--<div class="col-sm-4">-->
              <!--<div class="tools-header">-->
                <!--<div class="container-fluid">-->
                  <!--<div class="row" style="justify-content: center;">-->
                    <!--<div class="col-xs-3">-->
                      <!--<div class="divider-container">-->
                        <!--<div class="divider">-->
                          <!--<hr>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-9">-->
                      <!--<div class="header-container">-->
                        <!--<div class="header">-->
                          <!--<p>درباره‌ی محصولات</p>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-4"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="tools-container">
        <div class="container-fluid">
          <div class="row">
            <div class="tools-space">
              <div class="container">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="tool-container">
                      <div class="tool-icon">
                        <span>
                          <i nz-icon nzType="ng-zorro:picture-size"></i>
                        </span>
                      </div>
                      <div class="tool-title-space">
                        <div class="tool-title">
                          <p>سایزهای مختلف</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="tool-container">
                      <div class="tool-icon">
                        <span>
                          <i nz-icon nzType="ng-zorro:album"></i>
                        </span>
                      </div>
                      <div class="tool-title-space">
                        <div class="tool-title">
                          <p>نحوه قرارگیری عکس در آلبوم</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="tool-container">
                      <div class="tool-icon">
                        <span>
                          <i nz-icon nzType="ng-zorro:order"></i>
                        </span>
                      </div>
                      <div class="tool-title-space">
                        <div class="tool-title">
                          <p>نحوه ثبت سفارش</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
