.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper {
  /*transition-duration: 1500ms !important;*/
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
  padding: 87px 0;
}

.swiper-slide:nth-child(1) {
  background: transparent url('../../../assets/picture/Divine-Smile-fade2.jpg') top center;
}

.swiper-slide:nth-child(2) {
  background: transparent url('../../../assets/picture/eetg.jpg') no-repeat top center;
  background-size: cover;
}

.swiper-slide:nth-child(3) {
  background: transparent url('../../../assets/picture/eetg.jpg') no-repeat top center;
  background-size: cover;
}

.swiper-slide:nth-child(6) {
  background: transparent url('../../../assets/picture/Divine-Smile.jpg') no-repeat top center;
  background-size: cover;
}

.swiper-slide:nth-child(7) {
  background: transparent url('../../../assets/picture/Divine-Smile.jpg') no-repeat top center;
  background-size: cover;
}

.layer, .content-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer {
  background-color: rgba(57, 84, 114, 0.5);
  z-index: 1;
}

.content-layer {
  z-index: 2;
  padding: 87px 0;
}

.section-3 {
  /*background: url('../../../assets/images/bg-02.jpg') no-repeat center;*/
  background-size: cover;
  padding-bottom: 75px;
  padding-top: 75px;
}

.section-7 {
  padding-bottom: 15px;
}
