@import "./assets/fonts/fonts.css";

* {
  box-sizing: border-box;
  font-family: yekan, serif;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
  box-shadow: none !important;
}

*, *:active {
  direction: rtl;
}

body {
  background-color: #f7f8fa !important;
  direction: rtl;
  text-align: right;
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

table {
  width: 100%;
}

th,
td {
  font-weight: unset;
  padding-left: 10px;
}

input:focus {
  box-shadow: none !important;
}

::placeholder {
  color: #b7b7b7 !important;
}

:-ms-input-placeholder {
  color: #b7b7b7 !important;
}

::-ms-input-placeholder {
  color: #b7b7b7 !important;
}

textarea::-webkit-input-placeholder {
  color: #b7b7b7 !important;
}

textarea:-moz-placeholder {
  color: #b7b7b7 !important;
}

textarea::-moz-placeholder {
  color: #b7b7b7 !important;
}

textarea:-ms-input-placeholder {
  color: #b7b7b7 !important;
}

textarea::placeholder {
  color: #b7b7b7 !important;
}

.form-control::-webkit-input-placeholder {
  color: #b7b7b7 !important;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: #b7b7b7 !important;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: #b7b7b7 !important;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: #b7b7b7 !important;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: #b7b7b7 !important;
}

/* Microsoft Edge */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

strong {
  font-family: "yekanBold", serif;
}

a, a:hover {
  text-decoration: none;
}

.swiper-button-next, .swiper-button-prev {
  color: #2d2d2d !important;
}

.swiper-pagination-bullet-active {
  background: #2d2d2d !important;
}

/*******************************title side line*******************************/
.divider-container {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.divider-line {
  padding: 15px;
  line-height: 0;
}

.divider-line hr {
  max-width: 100%;
  width: 70px;
  border-top: 2px solid #1f1f1f;
  margin: 0;
  display: inline-block;
}

/*******************************section title*******************************/
.section-header {
  justify-content: center;
  display: flex;
}

.section-header p {
  font-weight: 700;
  font-style: normal;
  color: #1f1f1f;
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: 0;
  margin: 0;
}
